@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


.ques{
    color: blue;
    font-size: 18px;
}
.ans{
    margin-top: -15px;
    color: gray;
    font-size: 17px;
    text-align: justify;
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px

}
ul li{
    color: rgb(82, 9, 9);
}
hr{
    border-bottom: 1px solid red !important;
}
